<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Synalyze</title>

        <!-- Bootstrap Core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        
        <style>
            .sandwich {
                width: 35px;
                height: 5px;
                background-color: black;
                margin: 6px 0;
            }
        </style>

        {% block header %} {% endblock %}
    </head>

    <body id="page-top" class="index">
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
        <script src="../static/js/agency.min.js"></script>

        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container col-md-12">
                <div class="navbar-header page-scroll col-md-4 col-sm-4">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                        <div class="sandwich"></div>
                        <div class="sandwich"></div>
                        <div class="sandwich"></div>
                    </a>
                </div>

                <div class="navbar-header page-scroll col-md-4 col-sm-4">
                    <a class="navbar-brand page-scroll" href="{{ url_for('landing') }}">Synalyze</a>
                </div>

                <div class="navbar-header page-scroll col-md-4 col-sm-4">
                    <a class="navbar-brand page-scroll pull-right" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </nav>

        {% block content %} {% endblock %}

        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
    </body>

</html>
