<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Synalyze</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/plugins.css" />
        <link rel="stylesheet" href="../static/css/responsive.css" />
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse" data-offset="100">
        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->
		
        <!--Home Sections-->
        <section id="home" class="home bg-black fix">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="main_home text-center">
                        <div class="col-md-12">
                            <div class="hello">
                                <div class="slid_item">
                                   <div class="home_text ">
                                        <h1 class="text-yellow">Welcome to Synalyze</h1>
                                            <h3 class="text-white text-uppercase">We Perform Analysis on Business Meetings </h3>
                                    </div>
                                </div><!-- End off slid item -->
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6" id="controls">
                                <img class="col-md-3" id="stop" src="../static/images/mic.png">
                                <a class="col-md-9" id="download"><img src="../static/images/save.svg"></a>
                            </div>
                        </div>
                    </div>
                </div><!--End off row-->
            </div><!--End off container -->
        </section> <!--End off Home Sections-->
        
        <!-- JS includes -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="../static/js/jquery-1.11.2.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/recorder.js"></script>
        <script src="../static/js/plugins.js"></script>

        <script>
            jQuery(document).ready(function($) {
                $(window).load(function() {
                    $("#loading").fadeOut( 500 );
                });
            });
        </script>
    </body>
</html>
