{% extends "base.html" %}

{% block header %}
    <link href="../static/css/agency.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">We Perform Analysis on Business Meetings</div>
                <div class="intro-heading">Welcome To Synalyze!</div>
                <a href="{{ url_for('record') }}" class="page-scroll btn btn-xl">Record</a>
            </div>
        </div>
    </header>
{% endblock %}