{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <header>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Cached Recordings
                </li>
                {% for recording in recordings %}
                <li class="sidebar-brand">
                    <a href="{{ url_for('report', recordid=recording) }}" class="page-scroll btn btn-xl">
                        {{ recording }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="container">
                    <div class="intro-text">
                        <div class="intro-lead-in">We Perform Analysis on Business Meetings</div>
                        <div class="intro-heading">Welcome To Synalyze!</div>
                        <a href="{{ url_for('record') }}" class="page-scroll btn btn-xl">Record</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </header>
{% endblock %}