<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Audio Recorder</title>

	<script src="../static/js/audiodisplay.js"></script>
	<script src="../static/js/recorderjs/recorder.js"></script>
	<script src="../static/js/mic.js"></script>
</head>
<body>
	<div id="viz">
		<canvas id="analyser" width="1024" height="500"></canvas>
		<canvas id="wavedisplay" width="1024" height="500" hidden></canvas>
	</div>
	<div id="controls">
		<img id="record" src="../static/images/mic.png" onclick="toggleRecording(this);">
		<a id="save" href="#"><img src="../static/images/save.svg"></a>
	</div>
</body>
</html>