{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="../static/css/loading.css">
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block navbar %}
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container col-md-12">
        <div class="navbar-header page-scroll col-xs-6">
            <a class="navbar-brand page-scroll" href="{{ url_for('landing') }}">Synalyze</a>
        </div>

        <div class="navbar-header page-scroll col-xs-6">
            <a class="navbar-brand page-scroll pull-right" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
<section>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="gooey">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
          <feBlend in="SourceGraphic" in2="goo"></feBlend>
        </filter>
      </defs>
    </svg>
    <div class="blob blob-0"></div>
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
    <div class="blob blob-4"></div>
    <div class="blob blob-5"></div>

    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-xs-12">
                    <div class="col-xs-6 col-xs-offset-3" id="controls">
                        <button type="button" class="btn btn-warning" id="stop">Analyze</button>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="../static/js/recorder.js"></script>  

{% endblock %}