{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block content %}
<section id="home" class="home bg-black fix">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="hello">
                        <div class="slid_item">
                           <div class="home_text ">
                                <h1 class="text-yellow">Report</h1>
                                    <h3 class="text-white text-uppercase">TEMPORARY CRAP</h3>
                            </div>
                        </div><!-- End off slid item -->

                        <img src="https://scontent.fsjc1-3.fna.fbcdn.net/v/t1.0-9/12189979_558823910936882_5534481478435088436_n.jpg?oh=22f02a0ade6911a2a3679cddf0fb441d&oe=59A26306">
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->      
{% endblock %}